body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    margin-top: 20px;
    width: 400px;
    height: 500px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
}

.blok2, .blok3, .blok4, .blok5, .blok6, .blok7 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.voornaam, .achternaam, .geboortedatum, .nickname, .emailadres, .telefoonnummer {
    margin-left: 300px;
}

input {
    border: 3px solid black;
    width: 200px;
    height: 50px;
}

label {
    color: green;
    font-size: 40px;
    margin-left: 280px;
}

div > h2 {
    width: 300px;
}

.knop {
    margin-left: 430px;
    margin-bottom: 20px;
    background-color: green;
}
